<head>
    <title>Центр телемедицины</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'accounts/style_login.css' %}">
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
</head>
<body>
    {% load static %}
    <div class="main">
        <img src="{% static 'accounts/images/logo_horisontal.png' %}" />
        <h2>Заявка о непредвиденном обстоятельстве</h2>
	{% if error %}
                <p style="color: red;">{{ error }}</p>
            {% endif %}
        <form method="post" action="{% url 'accounts:add_appeal_submit' %}">
            {% csrf_token %}
	    <textarea type="text" name="salutation" placeholder="Обращение"></textarea>
	    <div class="wrap">
                <button type="submit">Подтвердить</button>
            </div>
	    <div class="wrap">
    		<a href="#" class="button-back" onclick="history.back();">Назад</a>
	    </div>
        </form>
    </div>
</body>
